.detail__container {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .25);
    padding: 100px;
    border-radius: 40px;
    background: #fff;
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
}

.detail__image {
    position: relative;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .25);
}

.detail__data {
    margin-left: 50px;
}

.detail__title {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: bold;
    color: #2c2c2c;
}

.detail__genres {
    font-size: 20px;
    font-weight: bold;
    color: rgba(60, 61, 63, 0.527);
}

.detail__year {
    margin-bottom: 30px;
    font-size: 20px;
    color: #2c2c2c;
}

.detail__summary {
    margin-bottom: 30px;
    font-size: 22px;
    color: #2c2c2c;
}